@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Roboto-Regular;
    src: url(../../public/fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../../public/fonts/Roboto-Medium.ttf);
    font-weight: 500;
}
body {
    font-family: Roboto-Regular, serif;
}

.breadcrumb-item:last-child {
    color: rgb(0 0 0);
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.23s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.23s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.scale-up-hor-left {
    animation: scale-up-hor-left 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-hor-left {
    0% {
        transform: scaleX(0.4);
        transform-origin: 0% 0%;
    }
    100% {
        transform: scaleX(1);
        transform-origin: 0% 0%;
    }
}
